## Import libraries

In [6]:
import pandas as pd

## Read in excel file to pandas

In [7]:
rule_df = pd.read_excel(
    "../../data/raw/RiskRules.xlsx")

# drop the first coulmn
rule_df = rule_df.iloc[:, 1:]
# change server_location to Amaricas to Americas
rule_df["server_location"] = rule_df["server_location"].replace(
    "Amaricas", "Americas")
# fill the empty values with "None"
rule_df = rule_df.fillna("None")
# remove duplicates
rule_df = rule_df.drop_duplicates()
rule_df

,authentication,security_test_category,security_test_result,server_location,hosting_isp,PII,FII,Risk_Label
0,No Authentication,Injections,Fail,Anywhere,Anyone,None,None,Imminent
5,Some Authentication,Broken Authentication,Fail,Anywhere,Anyone,Yes,Yes,Imminent
10,No Authentication,No Test Performed/Available,None,Anywhere,Anyone,Yes,Yes,High
15,Some Authentication,Broken Authentication,Fail,Anywhere,Anyone,No,No,High
20,Some Authentication,All Tests Performed/Available,Pass,Russia,Anyone,Yes,Yes,High
25,Some Authentication,All Tests Performed/Available,Pass,China,Anyone,Yes,Yes,High
30,Some Authentication,No Test Performed/Available,None,Anywhere,Anyone,No,No,Medium
35,Some Authentication,Injections,Fail,Anywhere,Anyone,Yes,Yes,Medium
40,Some Authentication,Buffer Overflow,Fail,Anywhere,Anyone,Yes,Yes,Medium
45,Some Authentication,XML External Enteties,Fail,Anywhere,Anyone,Yes,Yes,Medium
50,Some Authentication,Cross-Site Scripting,Fail,Anywhere,Anyone,Yes,Yes,Medium
55,Some Authentication,All Tests Performed/Available,Pass,Others,Anyone,Yes,Yes,Medium
65,Some Authentication,All Tests Performed/Available,Pass,West Europe,Anyone,Yes,Yes,Low
70,Some Authentication,All Tests Performed/Available,Pass,Americas,Anyone,Yes,Yes,Low

In [8]:
api_df = pd.read_excel("../../data/processed/pii_fii_train.xlsx")
# api_df = api_df[['api_endpoint_id', 'authentication', 'security_test_category',
#                  'security_test_result', 'server_location', 'hosting_isp', 'is_pii', 'is_fii']]
api_df

,api_endpoint_id,api_id,api_vendor_id,request_id,method,category,parameters,usage_base,sample_response,tagset,authentication,security_test_category,security_test_result,server_location,hosting_isp,server_name,response_metadata,hosting_city,is_pii,is_fii
0,275,51,4,1046,get,Software & Services,"{""sectionId"": ""0-A9C16FA01F77BA52!124"", ""Conte...",NaN,"{""@odata.context"":""https://graph.microsoft.com...",NaN,OAuth2,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Tue, 17 Jul 2018 13:02:06 GMT"", ""Var...",NaN,True,False
1,725,178,46,2651,get,Social Media & Technology,"{""blog-identifier"": ""edsn-admin.tumblr.com""}",NaN,"{""meta"":{""status"":200,""msg"":""OK""},""response"":{...",NaN,query,NaN,NaN,NaN,NaN,NaN,"{""Age"": ""0"", ""P3p"": ""CP=\""Tumblr's privacy pol...",NaN,True,False
2,2452,1182,385,23486,get,Business & Technology,"{""endpoint_id"": ""bkq990C""}",NaN,"{""endpoint_name"": ""https://apidiscovery.teejla...","endpoint_name,parameter_example_value,is_requi...",header,NaN,NaN,Canada,"Amazon.com, Inc.",nginx/1.17.8,"{""Date"": ""Fri, 30 Jul 2021 17:01:00 GMT"", ""Var...",Toronto,False,False
3,1224,438,91,10204,get,Government & Public Services,{},NaN,"{""count"":201,""next"":""https://discovery.gsa.gov...","count,previous,next,results,url,name,id,id,name",query,NaN,NaN,Canada,"Amazon.com, Inc.",Unavailable/Obscured,"{""Age"": ""76617"", ""Via"": ""1.1 9e25cde80ebbb4b50...",Montreal,True,False
4,225,48,4,937,get,Software & Services,"{""calId"": ""AQMkADAwATM3ZmYAZS0xMmFmLWNlYzYtMDA...",NaN,"{""@odata.context"":""https://graph.microsoft.com...",NaN,OAuth2,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Thu, 12 Jul 2018 09:37:55 GMT"", ""Var...",NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,1577,586,197,4348,get,Environment & Weather,{},NaN,"{""status"":""success"",""data"":[{""country"":""Afghan...",NaN,query,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Tue, 19 Feb 2019 21:51:02 GMT"", ""Var...",NaN,True,False
1315,1795,655,224,7062,get,Information & Science,"{""email"": ""yosem.sweet@unbounce.com""}",NaN,"{""error"":{""type"":""invalid_api_key"",""message"":""...","person,github,following,followers,company,id,h...",BasicAuth,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Tue, 15 Oct 2019 23:38:45 GMT"", ""var...",NaN,True,False
1316,1216,430,97,10292,get,Software & Services,{},NaN,"{\n ""version"": ""4.3.1"",\n ""themes"": [\n {...","version,themes,cssCdn,preview,css,thumbnail,sc...",none,NaN,NaN,United States,"Cloudflare, Inc.",cloudflare,"{""NEL"": ""{\""report_to\"":\""cf-nel\"",\""max_age\""...",Chicago,True,False
1317,2039,750,271,9307,get,AI & Data Science,"{""text"": ""Apple was founded by Steve Jobs, Ste...",NaN,"{\n ""text"": ""Apple was founded by Steve Jobs,...","text,score,language,types,string,concepts,http...",header,NaN,NaN,United States,Google LLC,istio-envoy,"{""via"": ""1.1 google"", ""date"": ""Tue, 16 Jun 202...",Ashburn,True,False
1318,1572,583,192,4339,get,Software & Services,"{""language"": ""en-US""}",NaN,"{""page"":1,""total_results"":19842,""total_pages"":...",NaN,query,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Tue, 19 Feb 2019 20:00:10 GMT"", ""Var...",NaN,True,False

In [9]:
print(f'Unique values in column "method": {list(api_df["method"].unique())}\n')
print(
    f'Unique values in column "category": {list(api_df["category"].unique())}\n')
print(
    f'Unique values in column "usage_base": {list(api_df["usage_base"].unique())}\n')
print(
    f'Unique values in column "server_name": {list(api_df["server_name"].unique())}\n')
print(
    f'Unique values in column "hosting_city": {list(api_df["hosting_city"].unique())}\n')

Unique values in column "method": ['get', 'post', 'delete', 'put']

Unique values in column "category": ['Software & Services', 'Social Media & Technology', 'Business & Technology', 'Government & Public Services', 'eCommerce & Trade', 'Information & Science', 'News & Media', 'AI & Data Science', 'GeoInformatics & Navigation', 'Transportation & Automobile', 'Research & Education', 'Sports & Entertainment', 'Justice & Public Safety', 'Finance & Banking', 'None', 'Environment & Weather', 'Health Science & Medicine', 'Sales & Marketing', 'Work & Personal Life', 'Skills & Career Development', 'Security & Technology', 'Religion & Spirituality', 'Natural Resources & Energy', 'Logistics & Infrastructure']

Unique values in column "usage_base": [nan, 'free', 'commercial', 'free_with_authentication']

Unique values in column "server_name": [nan, 'nginx/1.17.8', 'Unavailable/Obscured', 'Cloudmersive Server', 'nginx', 'GSE', 'Concierge', 'akka-http/10.0.5', 'Cowboy', 'Microsoft-IIS/8.0', 'Apache', 'cloudflare', 'Microsoft-IIS/10.0', 'GitHub.com', 'scaffolding on HTTPServer2', 'Apache/2.4.18 (Ubuntu)', 'Apache/2.2.9 (Ubuntu) PHP/5.2.6-2ubuntu4.6 with Suhosin-Patch mod_ssl/2.2.9 OpenSSL/0.9.8g mod_wsgi/4.5.7 Python/2.6', 'openresty', 'Apache/2.4.29 (Ubuntu)', 'nginx/1.17.10', 'Apache/2.4.38 (Debian)', 'Apache/2.2.15 (CentOS)', 'nginx/1.4.6 (Ubuntu)', 'gunicorn/19.4.5', 'Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips mod_wsgi/3.4 Python/2.7.5', 'Python/3.6 aiohttp/3.6.2', 'Apache-Coyote/1.1', 'ESF', 'istio-envoy', 'thin', 'snooserv', 'mw1313.eqiad.wmnet', 'Neutrino-API', 'nginx/1.14.0 (Ubuntu)', 'Google Frontend', 'RapidAPI-1.1.0', 'nginx/1.10.3', 'nginx/1.12.2', 'Apache/2.4.29', 'Apache/2.2.27 (Unix) PHP/5.5.11', 'nginx/1.17.7', 'nginx/1.15.9', 'mafe', 'Apache/2.4.38 (Ubuntu)', 'webserver', 'envoy', 'mw1377.eqiad.wmnet', 'Microsoft-IIS/8.5', 'Apache/2.4.7 (Ubuntu)', 'nginx/1.17.9', 'Europa', 'akka-http/10.0.15', 'api-gateway/1.9.3.1', 'nginx/1.13.1', 'Missing/ Obscured', 'Apache/2.4.33 (Amazon) mod_wsgi/3.5 Python/2.7.14 PHP/7.0.30 mod_perl/2.0.10 Perl/v5.16.3', 'Apache/2.4.41 (Ubuntu)', 'Tengine', 'nginx/1.16.1', 'awselb/2.0', 'CloudFront']

Unique values in column "hosting_city": [nan, 'Toronto', 'Montreal', 'Newark', 'Miami', 'Dumka', 'Dublin', 'Ashburn', 'Vancouver', 'Islip', 'Charlotte', 'San Francisco', 'Washington', 'Dhaka', 'Dallas', 'QuÃ©bec', 'Chicago', 'Sydney', 'Boston', 'Stamford', 'Frankfurt am Main', 'Roubaix', 'New York', 'San Antonio', 'Portland', 'Victoria', 'Alexandria', 'Asheville', 'Eindhoven', 'Walldorf', 'Seattle', 'Singapore', 'Falkenstein', 'Mountain View', 'Berkeley', 'Champaign', 'Paris', 'Los Angeles', 'Prague', 'Township of Piscataway', 'Atlanta', 'Luxembourg', 'Wood Green', 'Redwood Shores', 'Bokaro Steel City', 'Irmo', 'San Jose', 'Godmanchester', 'Mumbai', 'Chehalis', 'Indianapolis', 'Seville', 'London', 'Calgary', 'Brentwood', 'Nuremberg', 'Quincy', 'Lacey', 'Saint-Quentin', 'Ranchi', 'Bengaluru', 'Amsterdam-Zuidoost', 'Durango', 'Clifton']

In [10]:
# get row containing High
high_risk_rule_df = rule_df[rule_df["Risk_Label"] == "High"]
high_risk_rule_df

,authentication,security_test_category,security_test_result,server_location,hosting_isp,PII,FII,Risk_Label
10,No Authentication,No Test Performed/Available,None,Anywhere,Anyone,Yes,Yes,High
15,Some Authentication,Broken Authentication,Fail,Anywhere,Anyone,No,No,High
20,Some Authentication,All Tests Performed/Available,Pass,Russia,Anyone,Yes,Yes,High
25,Some Authentication,All Tests Performed/Available,Pass,China,Anyone,Yes,Yes,High

In [11]:
# drop Risk_Label column
high_risk_rule_df = high_risk_rule_df.drop(columns=["Risk_Label"])
high_risk_rule_df

,authentication,security_test_category,security_test_result,server_location,hosting_isp,PII,FII
10,No Authentication,No Test Performed/Available,None,Anywhere,Anyone,Yes,Yes
15,Some Authentication,Broken Authentication,Fail,Anywhere,Anyone,No,No
20,Some Authentication,All Tests Performed/Available,Pass,Russia,Anyone,Yes,Yes
25,Some Authentication,All Tests Performed/Available,Pass,China,Anyone,Yes,Yes

In [12]:
from numpy import nan
rules_dict = {}
rules_dict["Some Authentication"] = ["query", "OAuth2",
                                    "header", "BasicAuth", "body", "OAuth1", "path"]
rules_dict["No Authentication"] = ["None"]

rules_dict["All Tests Performed/Available"] = ['XML External Entities',
                                                      'Cross-Site Scripting', 'Insecure Deserialization', 'SQL Injection']
rules_dict["Broken Authentication"] = ['Broken Authentication']
rules_dict["No Test Performed/Available"] = ['None']

rules_dict["None"] = [nan]
rules_dict["Fail"] = [1]
rules_dict["Pass"] = [0]

rules_dict["Russia"] = ["Russia"]
rules_dict["China"] = ["China"]
rules_dict["Anywhere"] = ['United States', 'Canada', 'Germany', 'Netherlands',
                             'United Kingdom', 'Ireland', 'Australia', 'India', 'Luxembourg',
                             'Sweden', 'France', 'Spain', 'Bangladesh', 'Singapore',
                             'Czechia']
rules_dict["Anyone"] = ['United States', 'Canada', 'Germany', 'Netherlands',
                        'United Kingdom', 'Ireland', 'Australia', 'India', 'Luxembourg',
                        'Sweden', 'France', 'Spain', 'Bangladesh', 'Singapore', 'Russia',
                        'Czechia']
rules_dict["Yes"] = [True]
rules_dict["No"] = [False]
rules_dict["method"] = ['get', 'post', 'delete', 'put']
rules_dict["category"] = ['Environment & Weather', 'Information & Science',
                          'GeoInformatics & Navigation', 'Software & Services',
                          'Social Media & Technology', 'AI & Data Science',
                          'Government & Public Services', 'News & Media', 'Finance & Banking',
                          'Business & Technology', 'Health Science & Medicine',
                          'Transportation & Automobile', 'Justice & Public Safety',
                          'Natural Resources & Energy', 'Skills & Career Development',
                          'Research & Education', 'Sports & Entertainment', 'Sales & Marketing',
                          'eCommerce & Trade', 'Work & Personal Life','Security & Technology',
                          'Religion & Spirituality', 'Logistics & Infrastructure']
rules_dict["usage_base"] = ['free', 'commercial', 'free_with_authentication']
rules_dict["server_name"] = ['openresty', 'ESF', 'GSE', 'mafe', 'Unavailable/Obscured', 'Apache-Coyote/1.1', 'GitHub.com', 'scaffolding on HTTPServer2', 'Missing/ Obscured', 'tsa_b', 'Microsoft-IIS/10.0', 'nginx', 'Apache', 'Google Frontend', 'snooserv', 'cloudflare', 'mw1313.eqiad.wmnet', 'mw1377.eqiad.wmnet', 'Apache/2.4.41 (Ubuntu)', 'Concierge', 'Microsoft-IIS/8.5', 'Apache/2.4.18 (Ubuntu)', 'Apache/2.4.7 (Ubuntu)', 'Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips', 'Europa', 'Apache/2.2.27 (Unix) PHP/5.5.11', 'Microsoft-IIS/8.0', 'nginx/1.13.1', 'Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips mod_wsgi/3.4 Python/2.7.5', 'nginx/1.1.19', 'nginx/1.4.6 (Ubuntu)', 'CloudFront', 'akka-http/10.0.5', 'webserver', 'nginx/1.10.3', 'awselb/2.0', 'api-gateway/1.9.3.1',
                             'Apache/2.4.38 (Debian)', 'thin', 'nginx/1.17.7', 'Apache/2.4.29', 'Tengine', 'Apache/2.4.41 (Amazon) PHP/7.0.33', 'envoy', 'Apache/2.4.29 (Ubuntu)', 'Cowboy', 'akka-http/10.0.15', 'RapidAPI-1.1.0', 'Apache/2.4.38 (Ubuntu)', 'Neutrino-API', 'Python/3.6 aiohttp/3.6.2', 'gunicorn/19.4.5', 'istio-envoy', 'Cloudmersive Server', 'nginx/1.14.0 (Ubuntu)', 'Apache/2.2.15 (CentOS)', 'nginx/1.16.1', 'Apache/2.2.9 (Ubuntu) PHP/5.2.6-2ubuntu4.6 with Suhosin-Patch mod_ssl/2.2.9 OpenSSL/0.9.8g mod_wsgi/4.5.7 Python/2.6', 'openresty/1.13.6.2', 'nginx/1.8.0 + Phusion Passenger 5.0.23', 'Apache/2.4.33 (Amazon) mod_wsgi/3.5 Python/2.7.14 PHP/7.0.30 mod_perl/2.0.10 Perl/v5.16.3', 'nginx/1.17.10', 'nginx/1.17.8', 'nginx/1.17.9', 'nginx/1.6.2', 'nginx/1.12.2', 'nginx/1.15.9', 'Caddy']
rules_dict["hosting_city"] = ['New York', 'Montreal', 'Toronto', 'Dallas', 'Mountain View', 'QuÃ©bec', 'Champaign', 'Indianapolis', 'Portland', 'Seattle', 'Atlanta', 'Newark', 'San Francisco', 'Ashburn', 'Walldorf', "'s-Hertogenbosch", 'Chicago', 'Washington', 'Boston', 'Miami', 'Los Angeles', 'Godmanchester', 'Redmond', 'Amsterdam-Zuidoost', 'Dublin', 'Alexandria', 'Lacey', 'Chehalis', 'Sydney', 'Berkeley', 'San Jose', 'Durango', 'Bokaro Steel City', 'Dumka', 'Ranchi', 'Frankfurt am Main', 'Luxembourg',
                              'Calgary', 'Victoria', 'Vancouver', 'Charlotte', 'Redwood Shores', 'Skurup', 'San Antonio', 'Irmo', 'Rockville', 'Nuremberg', 'Islip', 'Roubaix', 'Falkenstein', 'Seville', 'Township of Piscataway', 'London', 'Saint-Quentin', 'Eindhoven', 'Phoenix', 'Ogden', 'Quincy', 'Cedar Knolls', 'Paris', 'Brentwood', 'DÃ¼sseldorf', 'Clifton', 'Denver', 'Burnaby', 'Brea', 'Asheville', 'Dhaka', 'Mumbai', 'Singapore', 'Moscow', 'Burlington', 'Nhulunbuy', 'Stamford', 'Burntwood', 'Bengaluru', 'Prague', 'Wood Green', 'North Bergen']

In [13]:
# get columns from api_df
api_df_cols = api_df.columns
api_df_cols

Index(['api_endpoint_id', 'api_id', 'api_vendor_id', 'request_id', 'method',
       'category', 'parameters', 'usage_base', 'sample_response', 'tagset',
       'authentication', 'security_test_category', 'security_test_result',
       'server_location', 'hosting_isp', 'server_name', 'response_metadata',
       'hosting_city', 'is_pii', 'is_fii'],
      dtype='object')

In [14]:
# create dataframe with columns from api_df_cols
new_df = pd.DataFrame(columns =  api_df_cols)
new_df

Empty DataFrame
Columns: [api_endpoint_id, api_id, api_vendor_id, request_id, method, category, parameters, usage_base, sample_response, tagset, authentication, security_test_category, security_test_result, server_location, hosting_isp, server_name, response_metadata, hosting_city, is_pii, is_fii]
Index: []

In [15]:
import random
starting_id = 3000
# create 100 rows
for i in range(300):
    # generate random values for each column
    starting_id += 1
    new_df.loc[i, "api_endpoint_id"] = starting_id

    # pick a random value for method
    new_df.loc[i, "method"] = random.choice(rules_dict["method"])

    # pick a random value for category
    new_df.loc[i, "category"] = random.choice(rules_dict["category"])

    # pick a random value for usage_base
    new_df.loc[i, "usage_base"] = random.choice(rules_dict["usage_base"])

    # pick a random value for server_name
    new_df.loc[i, "server_name"] = random.choice(rules_dict["server_name"])

    # pick a random value for hosting_city
    new_df.loc[i, "hosting_city"] = random.choice(rules_dict["hosting_city"])

    # pick a random row from high_risk_rule_df
    random_row = high_risk_rule_df.sample(1)

    #authentication
    auth_rule_pick = random_row['authentication'].to_string(index=False)
    auth_rule_value_list = rules_dict[auth_rule_pick]
    # pick random value from auth_rule_value_list
    auth_rule_value = random.choice(auth_rule_value_list)
    new_df.loc[i, "authentication"] = auth_rule_value

    #security_test_category
    security_test_category_rule_pick = random_row['security_test_category'].to_string(index=False)
    security_test_category_rule_value_list = rules_dict[security_test_category_rule_pick]
    security_test_category_rule_value = random.choice(security_test_category_rule_value_list)
    new_df.loc[i, "security_test_category"] = security_test_category_rule_value

    #security_test_result
    security_test_result_rule_pick = random_row['security_test_result'].to_string(index=False)
    security_test_result_rule_value_list = rules_dict[security_test_result_rule_pick]
    security_test_result_rule_value = random.choice(security_test_result_rule_value_list)
    new_df.loc[i, "security_test_result"] = security_test_result_rule_value

    #server_location
    server_location_rule_pick = random_row['server_location'].to_string(index=False)
    server_location_rule_value_list = rules_dict[server_location_rule_pick]
    server_location_rule_value = random.choice(server_location_rule_value_list)
    new_df.loc[i, "server_location"] = server_location_rule_value

    #hosting_isp
    hosting_isp_rule_pick = random_row['hosting_isp'].to_string(index=False)
    hosting_isp_rule_value_list = rules_dict[hosting_isp_rule_pick]
    hosting_isp_rule_value = random.choice(hosting_isp_rule_value_list)
    new_df.loc[i, "hosting_isp"] = hosting_isp_rule_value
    

    #is_pii
    is_pii_rule_pick = random_row['PII'].to_string(index=False)
    is_pii_rule_value_list = rules_dict[is_pii_rule_pick]
    is_pii_rule_value = random.choice(is_pii_rule_value_list)
    new_df.loc[i, "is_pii"] = is_pii_rule_value

    #is_fii
    is_fii_rule_pick = random_row['FII'].to_string(index=False)
    is_fii_rule_value_list = rules_dict[is_fii_rule_pick]
    is_fii_rule_value = random.choice(is_fii_rule_value_list)
    new_df.loc[i, "is_fii"] = is_fii_rule_value




new_df

,api_endpoint_id,api_id,api_vendor_id,request_id,method,category,parameters,usage_base,sample_response,tagset,authentication,security_test_category,security_test_result,server_location,hosting_isp,server_name,response_metadata,hosting_city,is_pii,is_fii
0,3001,NaN,NaN,NaN,get,Security & Technology,NaN,commercial,NaN,NaN,header,Insecure Deserialization,0,China,Netherlands,Apache-Coyote/1.1,NaN,Redwood Shores,True,True
1,3002,NaN,NaN,NaN,get,Religion & Spirituality,NaN,commercial,NaN,NaN,OAuth2,SQL Injection,0,China,France,tsa_b,NaN,Rockville,True,True
2,3003,NaN,NaN,NaN,put,Government & Public Services,NaN,commercial,NaN,NaN,None,None,NaN,Luxembourg,India,cloudflare,NaN,Washington,True,True
3,3004,NaN,NaN,NaN,post,Business & Technology,NaN,free_with_authentication,NaN,NaN,OAuth1,Broken Authentication,1,Canada,Germany,gunicorn/19.4.5,NaN,Burnaby,False,False
4,3005,NaN,NaN,NaN,post,News & Media,NaN,free_with_authentication,NaN,NaN,None,None,NaN,India,Sweden,Caddy,NaN,New York,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,3296,NaN,NaN,NaN,delete,Skills & Career Development,NaN,free_with_authentication,NaN,NaN,path,Broken Authentication,1,Netherlands,Czechia,Apache/2.4.41 (Amazon) PHP/7.0.33,NaN,London,False,False
296,3297,NaN,NaN,NaN,post,Work & Personal Life,NaN,free,NaN,NaN,None,None,NaN,Australia,Spain,Apache/2.4.6 (Red Hat Enterprise Linux) OpenSS...,NaN,Cedar Knolls,True,True
297,3298,NaN,NaN,NaN,post,News & Media,NaN,free_with_authentication,NaN,NaN,None,None,NaN,Ireland,United States,istio-envoy,NaN,Seattle,True,True
298,3299,NaN,NaN,NaN,post,Skills & Career Development,NaN,commercial,NaN,NaN,None,None,NaN,France,Czechia,Apache/2.4.6 (Red Hat Enterprise Linux) OpenSS...,NaN,Brentwood,True,True
299,3300,NaN,NaN,NaN,put,Environment & Weather,NaN,free,NaN,NaN,OAuth1,Broken Authentication,1,Ireland,Spain,openresty,NaN,Toronto,False,False

In [16]:
# merge new_df with api_df
merged_df = pd.concat([api_df, new_df], axis=0, ignore_index=True)
merged_df

,api_endpoint_id,api_id,api_vendor_id,request_id,method,category,parameters,usage_base,sample_response,tagset,authentication,security_test_category,security_test_result,server_location,hosting_isp,server_name,response_metadata,hosting_city,is_pii,is_fii
0,275,51,4,1046,get,Software & Services,"{""sectionId"": ""0-A9C16FA01F77BA52!124"", ""Conte...",NaN,"{""@odata.context"":""https://graph.microsoft.com...",NaN,OAuth2,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Tue, 17 Jul 2018 13:02:06 GMT"", ""Var...",NaN,True,False
1,725,178,46,2651,get,Social Media & Technology,"{""blog-identifier"": ""edsn-admin.tumblr.com""}",NaN,"{""meta"":{""status"":200,""msg"":""OK""},""response"":{...",NaN,query,NaN,NaN,NaN,NaN,NaN,"{""Age"": ""0"", ""P3p"": ""CP=\""Tumblr's privacy pol...",NaN,True,False
2,2452,1182,385,23486,get,Business & Technology,"{""endpoint_id"": ""bkq990C""}",NaN,"{""endpoint_name"": ""https://apidiscovery.teejla...","endpoint_name,parameter_example_value,is_requi...",header,NaN,NaN,Canada,"Amazon.com, Inc.",nginx/1.17.8,"{""Date"": ""Fri, 30 Jul 2021 17:01:00 GMT"", ""Var...",Toronto,False,False
3,1224,438,91,10204,get,Government & Public Services,{},NaN,"{""count"":201,""next"":""https://discovery.gsa.gov...","count,previous,next,results,url,name,id,id,name",query,NaN,NaN,Canada,"Amazon.com, Inc.",Unavailable/Obscured,"{""Age"": ""76617"", ""Via"": ""1.1 9e25cde80ebbb4b50...",Montreal,True,False
4,225,48,4,937,get,Software & Services,"{""calId"": ""AQMkADAwATM3ZmYAZS0xMmFmLWNlYzYtMDA...",NaN,"{""@odata.context"":""https://graph.microsoft.com...",NaN,OAuth2,NaN,NaN,NaN,NaN,NaN,"{""Date"": ""Thu, 12 Jul 2018 09:37:55 GMT"", ""Var...",NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,3296,NaN,NaN,NaN,delete,Skills & Career Development,NaN,free_with_authentication,NaN,NaN,path,Broken Authentication,1,Netherlands,Czechia,Apache/2.4.41 (Amazon) PHP/7.0.33,NaN,London,False,False
1615,3297,NaN,NaN,NaN,post,Work & Personal Life,NaN,free,NaN,NaN,None,None,NaN,Australia,Spain,Apache/2.4.6 (Red Hat Enterprise Linux) OpenSS...,NaN,Cedar Knolls,True,True
1616,3298,NaN,NaN,NaN,post,News & Media,NaN,free_with_authentication,NaN,NaN,None,None,NaN,Ireland,United States,istio-envoy,NaN,Seattle,True,True
1617,3299,NaN,NaN,NaN,post,Skills & Career Development,NaN,commercial,NaN,NaN,None,None,NaN,France,Czechia,Apache/2.4.6 (Red Hat Enterprise Linux) OpenSS...,NaN,Brentwood,True,True
1618,3300,NaN,NaN,NaN,put,Environment & Weather,NaN,free,NaN,NaN,OAuth1,Broken Authentication,1,Ireland,Spain,openresty,NaN,Toronto,False,False

In [18]:
# write merged_df to excel
merged_df.to_excel(
    "../../data/processed/df_generated_high_risk.xlsx", index=False)